version: '3.8'

services:

  mariadb:
    image: mariadb:11
    container_name: mariadb-cardapio
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: cardapio
      MARIADB_USER: shakalinux
      MARIADB_PASSWORD: 221025
      TZ: America/Sao_Paulo
    ports:
      - "3306:3306"
    volumes:
      - ./mariadb-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build: .
    container_name: api-cardapio
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://mariadb:3306/cardapio
      SPRING_DATASOURCE_USERNAME: shakalinux
      SPRING_DATASOURCE_PASSWORD: 221025
      TZ: America/Sao_Paulo
